*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top right,
    #00006f 10%,
    #380000,
    #357b44);
    min-height: 100vh;
    margin: 0;
    animation: bganimation 15s ease infinite, textappear 0.5s;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    overflow-x: hidden;

}
body p{
    margin: 0;
    position: fixed;
    top: 0;
    padding: 25px;
    color: antiquewhite;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.weltext h1, .weltext h3{
    position: absolute;
    top: 25vh;
    left: 12vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.3em;
    background: linear-gradient(45deg, #fcbadb, #c78eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.weltext h1{
    top: 30vh;
    font-size: 5.3em;
}
.weltext p{
    padding: 5px;
    position: absolute;
    top: 44vh;
    left: 12vw;
    width: 35vw;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container img{
    position: absolute;
    right: 14vw;
    top: 19vh;
    border-radius: 4%;
    cursor: pointer;
    max-width: 100%;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
    z-index: 100;
}
.navbar a#current{
    background-color: rgb(120, 170, 185);
    color: rgb(8, 36, 36);
    text-shadow: 2px 2px 3px #6566af;
}
.navbar a{
    text-decoration: none;
    color: hsl(0, 36%, 91%);
    padding: 10px 25px;
    background-color: rgb(53, 70, 83);
    border-radius: 15px;
    font-family: Helvetica;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.navbar a::after {
    content: '';
    background: linear-gradient(to right, #049428, #99b544);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: width 150ms ease-in-out;
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a:hover{
    font-weight: bold;
    color: hsl(0, 36%, 91%);
}
.navbar a#current:hover{
    font-weight: bold;
    color: hsl(0, 36%, 91%);
}
@keyframes bganimation {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
@keyframes textappear {
    0%{
        transform: scale(0);
        opacity: 0%;
    }
    30%{
        opacity: 10%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}

.stars{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
    animation: starsa 5s linear infinite;
    z-index: -100;
}
@keyframes starsa {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
.stars span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 5px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: starsa2 3s linear infinite;
}
.stars span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300PX;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes starsa2 {
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.stars span:nth-child(1){
    top: 0;
    right: 1500px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2s;
}
.stars span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.stars span:nth-child(3){
    top: 80px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.stars span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.stars span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.stars span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars span:nth-child(7){
    top: 300px;
    right: 0;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.stars span:nth-child(8){
    top: 0;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.stars span:nth-child(9){
    top: 0;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.stars span:nth-child(10){
    top: 0;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
.stars span:nth-child(11){
    top: 600px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars span:nth-child(12){
    top: 700px;
    right: 0px;
    left: initial;
    animation-delay: 2.5s;
    animation-duration: 5s;
}

.icons{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 1vw;
    margin-right: 45vw;
}
.icons a{
    color: #44b5ac;
    margin-top: 35vh;
}
.icons a:nth-child(1){
    animation: textappear 0.8s;
}
.icons a:nth-child(2){
    animation: textappear 0.8s;
    animation-delay: 0.1s;
}
.icons a:nth-child(3){
    animation: textappear 0.8s;
    animation-delay: 0.2s;
}
.icons a:nth-child(4){
    animation: textappear 0.8s;
    animation-delay: 0.3s;
}

.hobbies{
    position: relative;
    width: 82vw;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(4, 73, 62, 0.7 ), rgba(37, 92, 113, 0.7) 90%);
    border-radius: 100px;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    margin-bottom: 10vh;
}
.hobbies img, .hobbies video{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.hobbies h1{
    position: absolute;
    top: 3vh;
    margin: 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color:aqua;
}
.hobby{
    position: relative;
    display: flex;
    min-width: 90vw;
    margin-top: 6vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.hobby p{
    position: relative;
    display: flex;
    width: 29vw;
    margin-left: 5vw;
}
.hobby img{
    margin-left: 10vw;
}
#firsthobby{
    margin-top: 15vh;
}
#firsthobby img{
    border-radius: 10px 0 0 10px;
}
#firsthobby video{
    border-radius: 0 10px 10px 0;
}
.hobby img{
    border-radius: 10px;
}
#japanphoto{
    margin: 0;
    border-radius: 0 10px 10px 0;
}
#malaysiaphoto{
    border-radius: 10px 0 0 10px;
}

.npcc{
    position: relative;
    width: 90vw;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}
.npcc .desc_npcc {
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.npcc h1{
    padding: 0;
    margin: 0;
    position: relative;
    margin: 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color:aqua;
}
.npcc p{
    width: 50vw;
    position: relative;
    margin-bottom: 5vh;
}
.images_npcc{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}
.images_npcc img{
    border-radius: 10px;
    margin: 0;
}
.hidden_npcc{
    width: 90vw;
    margin: auto;
    text-align: center;
}
.hidden_images_npcc{
    max-height: 0;
    overflow: hidden;
    margin-top: 5vh;
    transition: max-height 0.5s;
}
.toggle_npcc{
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
    color: #fcbadb;
}
.input_npcc{
    display: none;
}
.arrow_icon{
    position: relative;
    transition: transform 0.2s;
}
.input_npcc:checked ~ .arrow_icon{
    transform: rotate(-180deg);
}
.input_npcc:checked ~ .hidden_images_npcc{
    max-height: 1000px;
}





#cert_weltext{
    inset: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 15vh;
    animation: textappear 4s linear;

    background: linear-gradient(45deg, #fcbadb, #c285ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.certs_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 120vh;
}

.certs_container .cert{
    position: relative;
    width: 400px;
    height: 310px;
    background: repeating-conic-gradient(from var(--a), #1c87df 0%, #1c87df 5%, transparent 5%, transparent 40%, #1c87df 50%);
    --a: 0deg;
    border-radius: 5px;
    transition: background-color 0.8s;
    overflow: hidden;
}
.certs_container .cert:hover{
    background-color: #1c87df;
}
.certs_container .cert img{
    width: 388px;
    height: 298px;
    position: absolute;
    inset: 6px;
    border-radius: 3px;
}
.certs_container .cert::after{
    content: '';
    position: absolute;
    width: 388px;
    height: 298px;
    background: linear-gradient(
        135deg,
        hsla(0, 0%, 83%, 0.1) 45%,
        rgba(111, 199, 195, 0.5) 50%,
        hsla(0, 0%, 83%, 0.1) 55%
    );
    top: 50%;
    left: 50%;
    background-size: 600% 600%;
    transform: translate(-50%, -50%);
    animation: waveanimation 3.5s infinite;
}
@keyframes waveanimation {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.first_cert_col .cert{
    animation: cert_border 4s linear infinite, bounce_in 3s linear;
}
.second_cert_col .cert{
    animation: cert_border 4s linear infinite, bounce_in 3s linear;
    animation-delay: 0.1s;
}
.third_cert_col .cert{
    animation: cert_border 4s linear infinite, bounce_in 3s linear;
    animation-delay: 0.2s;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes cert_border {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}
@keyframes bounce_in {
    0%{
        transform: translateY(-1000vh);
        opacity: 0;
    }
    40% {
        transform: translateY(0);
        opacity: 1;
    }
    53% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(15px);
    }
    85% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
.first_cert_col{
    margin-top: 38vh;
}
.second_cert_col{
    margin-top: 48vh;
}
.third_cert_col{
    margin-top: 58vh;
}

