body{
    background-image: linear-gradient(to top right,
    #00006f 10%,
    #380000,
    #1d3f24 90%);
    height: 100%;
    margin: 0;
    background-size: 400% 400%;
    animation: bganimation 15s ease infinite;
    overflow-x: hidden;
    animation: textappear 0.5s;

}
body p{
    margin: 0;
    position: fixed;
    top: 0;
    padding: 25px;
    color: antiquewhite;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.container .weltext h1,h3{
    position: absolute;
    top: 18vh;
    left: 12vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.3em;
    background: linear-gradient(45deg, #fcbadb, #c78eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.container .weltext h1{
    top: 23vh;
    font-size: 5.3em;
}
.container .weltext p{
    padding: 5px;
    position: absolute;
    top: 42vh;
    left: 12vw;
    width: 35vw;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container img{
    position: absolute;
    right: 14vw;
    top: 19vh;
    border-radius: 4%;
    cursor: pointer;
    max-width: 100%;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    gap: 60px;
    z-index: 100;
}
.navbar a#current{
    background-color: rgb(120, 170, 185);
    color: rgb(8, 36, 36);
    text-shadow: 2px 2px 3px #6566af;
}
.navbar a {
    text-decoration: none;
    color: hsl(0, 36%, 91%);
    padding: 10px 25px;
    background-color: rgb(53, 70, 83);
    border-radius: 15px;
    font-family: Helvetica;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.navbar a::after {
    content: '';
    background: linear-gradient(to right, #049428, #99b544);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: width 150ms ease-in-out;
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a:hover{
    font-weight: bold;
    color: hsl(0, 36%, 91%);
}
.navbar a#current:hover{
    font-weight: bold;
    color: hsl(0, 36%, 91%);
}
@keyframes bganimation {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
@keyframes textappear {
    0%{
        transform: scale(0);
        opacity: 0%;
    }
    30%{
        opacity: 10%;
    }
    100%{
        transform: scale(1);
        opacity: 100%;
    }
}
/*
.bga{
    display: flex;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    animation: bganimation infinite 5s linear;

    opacity: 10%;
    z-index: -1;
}
@keyframes bganimation {
    0% {
        border-color: black;
        transform: rotate(0deg) scale(0);
        text-shadow: none;
    }
    33.3% {
        border-color: aqua;
        transform: rotate(120deg) scale(0.5);
        text-shadow: 
            0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4;
    }
    66.6% {
        border-color: black;
        transform: rotate(240deg) scale(1);
        text-shadow: 
            0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4;
    }
    100% {
        border-color: aqua;
        transform: rotate(360deg) scale(0.5);
        text-shadow: 
            0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4;
    }
}
*/


.stars{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position-x: center;
    background-size: cover;
    animation: starsa 5s linear infinite;
    z-index: -100;
}
@keyframes starsa {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
.stars span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 5px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 1);
    animation: starsa2 3s linear infinite;
}
.stars span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300PX;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}
@keyframes starsa2 {
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.stars span:nth-child(1){
    top: 0;
    right: 1500px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 2s;
}
.stars span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
.stars span:nth-child(3){
    top: 80px;
    right: 0;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
.stars span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
.stars span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
.stars span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars span:nth-child(7){
    top: 300px;
    right: 0;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
.stars span:nth-child(8){
    top: 0;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.stars span:nth-child(9){
    top: 0;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
.stars span:nth-child(10){
    top: 0;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}*/
.stars span:nth-child(11){
    top: 600px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
.stars span:nth-child(12){
    top: 700px;
    right: 0px;
    left: initial;
    animation-delay: 2.5s;
    animation-duration: 5s;
}

.icons{
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 1vw;
    margin-right: 45vw;
}
.icons a{
    color: #44b5ac;
    margin-top: 33vh;
}
.icons a:nth-child(1){
    animation: textappear 0.8s;
}
.icons a:nth-child(2){
    animation: textappear 0.8s;
    animation-delay: 0.1s;
}
.icons a:nth-child(3){
    animation: textappear 0.8s;
    animation-delay: 0.2s;
}
.icons a:nth-child(4){
    animation: textappear 0.8s;
    animation-delay: 0.3s;
}

.about_me{
    position: relative;
    min-height: 30vh;
    width: 82vw;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 73, 62, 0.6);
    border-radius: 100px;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}
.about_me h1{
    position: absolute;
    top: 3vh;
    margin: 0;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    color:aqua;
}
.hobby{
    position: relative;
    display: flex;
    min-width: 90vw;
    margin-top: 6vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.hobby p{
    position: relative;
    display: flex;
    width: 29vw;
    margin-left: 5vw;
}
.hobby img{
    margin-left: 10vw;
}
#firsthobby{
    margin-top: 15vh;
}
#firsthobby img{
    border-radius: 10px 0 0 10px;
}
#firsthobby video{
    border-radius: 0 10px 10px 0;
}
.hobby img{
    border-radius: 10px;
}

